QFrame {
   background-color: rgb(55, 63, 74);
}

QListWidget {
    outline: 0px;
}

QListWidget {
    color: white;
    background: rgb(50, 85, 102);
}

QListWidget::Item:selected {
    color: black;
    background: white;
}

QPushButton {
    color: white;
    background-color: rgb(50, 85, 102);
    height: 30px;
}

QPushButton:pressed {
    background-color: rgb(100, 180, 255);
    border-style: inset;
}
