QFrame {
   background-color: white;
}

QPushButton {
    width: 30px;
    height: 30px;
}

QPushButton#modelTrain {
    border-image: url('../resource/drawable/model_train.png');
}

QPushButton#modelTrain:hover {
    border-image: url('../resource/drawable/model_train_hover.png');
}

QPushButton#modelTrain:pressed {
    border-image: url('../resource/drawable/model_train_down.png');
}
